{
  "presets": [
    [
      "env"
    ],
    "react"
  ],
  "plugins": [
    [
      "transform-class-properties",
      "transform-object-rest-spread",
      "add-module-exports",
      "react-html-attrs",
      "transform-imports",
      {
        "react-router-dom": {
          "transform": "react-router-dom/es/${member}",
          "preventFullImport": true
        }
      }
    ]
  ]
}